  input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #eee;
    width: 100px;
    height:10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #000;
    opacity: 0.5;
    width: 10px;
    height: 12px;
}
input[type=number] {padding:1px; border:0px solid #ccc;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    width: 50px;
}
.container_left {
    float: left;
    /*padding-right: 10px*/
}
.container_right {
    float: right;
    /*padding-right: 10px*/
}
.body {
    font-family: Calibri, Verdana, Helvetica, Arial, sans-serif;
    font-size: 10pt;
}
.panel {
    border: 1px solid silver;
    width: 210px;
    margin: 5px;
    padding: 5px;
}
.panel_group {
    float: left;
}
.title {
    font-weight: bold;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-bottom: 5px;
}
#custom_wave {
    width: 100%;
    height: 50px;
}
