
.keyboard-wrapper {
    width: 100%;
    margin: 5px;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #eee;
    width: 100px;
    height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #000;
    opacity: 0.5;
    width: 10px;
    height: 12px;
}

input[type=number] {
    padding: 1px;
    border: 0px solid #ccc;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    width: 50px;
}

.container_left {
    float: left;
    /*padding-right: 10px*/
}

.container_right {
    float: right;
    /*padding-right: 10px*/
}

.body {
    font-family: Calibri, Verdana, Helvetica, Arial, sans-serif;
    font-size: 10pt;
}

.panel {
    border: 1px solid silver;
    width: 210px;
    margin: 5px;
    padding: 5px;
}

.panel_group {
    float: left;
}

.title {
    font-weight: bold;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-bottom: 5px;
}

#custom_wave {
    width: 100%;
    height: 50px;
}

#sequencer-root {
    box-sizing: border-box;
    display: block;
}

div[class^='seq-channel'] {
    display: inline-block;
    min-width: 100%;
}

#seq-ui {
    box-sizing: border-box;
    display: inline-block;
    width: 852px;
    border: 1px solid silver;
    margin: 5px;
    padding: 6px;
}

.seq-controls {
    background: yellow;
    margin-bottom: 0.5em;
    display: inline-block;
    box-sizing: border-box;
}

.seq-controls div {
    display: inline-block;

}

.tempo-controls {
    left: 50px;
    position: relative;
}

.seq-controls span {
    -webkit-user-select: none;
    cursor: default;
    padding: 0.5em;
    margin-left: 0.5em;
    display: inline-block;
    box-sizing: border-box;
}

.seq-controls input {
    width: 35px;
    margin: 0 0.5em;
}

.tempo-controls input {
    width: 25px;
    margin: 0 0.5em;
}

#bpm-input {
    width: 40px
}

div.ch-controls {
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    width: 250px;
    background: #eee;
    overflow: hidden;
}

div.ch-buttons {
    position: relative;
    top: -1em;
    left: 7em;
}

span.ch-label {
    box-sizing: border-box;
    display: inline;
    position: relative;
    margin-left: 0.5em;
    color: #565656;
    font-size: 1em;
    top: 7px;
    left: 25px;
}

div.ch-measure {
    height: 30px;
    display: inline-block;
}

div.ch-beat {
    float: left;
    height: 30px;
    display: inline-block;
    border-left: 1px solid black;
}

div.ch-note {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    width: 15px;
}

div.ch-note:nth-child(odd) {
    background: #C6C6C6;
}

div.ch-note:nth-child(even) {
    background: #8E8E8E;
}

div.ch-note.playing {
    background: #D8FC68;
}

div.ch-buttons {
    display: block;
    box-sizing: border-box;
}

div.ch-buttons span {
    padding: 0.2em;
    display: inline-block;
}

div.ch-controls .ch-indicator {
    top: -4px;
    position: relative;
    left: -2px;
    height: 10px;
    width: 10px;
    background: #FF6B6B;
    float: right;
    border-radius: 5px;
    display: none;
}

div.ch-buttons {
    position: relative;
}

.loop-controls span {
    position: relative;
}

.main-controls span:before,
.loop-controls span:before,
.pattern-controls span:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 0;
}

.loop-play:before {
    content: "\f04b";
}

.loop-pause:before {
    content: "\f04c";
    left: 20px
}

.loop-stop:before {
    content: "\f04d";
    left: 40px
}

.main-add-channel {
    position: relative;
    margin-right: 12px;
    left: -4px;
}

span[class^=ch-btn-]:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 5px;
}

.main-add-channel:before {
    content: "\f196";
}

.ch-btn-preview:before {
    content: "\f025";
    left: -85px;
}

.ch-btn-swap:before {
    content: "\f001";
    left: 50px;
}

.ch-btn-remove:before {
    content: "\f00d";
    left: 80px;
}

.ch-btn-solo:before {
    content: "\f192";
    left: 110px;
}

.ch-btn-mute:before {
    content: "\f026";
    left: 135px;
}

.pattern-clear:before {
    content: "\f1b8";
}

.pattern-import:before {
    content: "\f019";
}

.pattern-export:before {
    content: "\f093";
}

div.ch-controls .ch-indicator.active {
    display: block;
}

.ch-note.armed {
    border: 3px solid #EE5F5F;
}

div.ch-measure .ch-beat:nth-child(4n) {
    border-right: 5px solid white;
}


.pattern-controls {
    position: relative;
    left: 20px;
}

.pattern-controls span {
    position: relative;
}

.loop-controls {
    position: relative;
    left: -10px;
}

#debug-panel {
    width: 330px;
    height: 215px;
    position: absolute;
    background: rgba(233, 233, 233, 0.87);
    z-index: 100;
    box-sizing: border-box;
    border: 3px solid;
    font-family: sans-serif;
    padding: 1em 0 0 1em;
    font-size: 12px;
}

#debug-panel.minimized {
    height: 30px;
}

#debug-panel .debug-content {
    overflow: hidden;
    height: 100%;
}
