#custom_wave {
    width: 100%;
    height: 50px;
}

#sequencer-root {
    box-sizing: border-box;
    display: block;
}

div[class^='seq-channel'] {
    display: inline-block;
    min-width: 100%;
}

#seq-ui {
    box-sizing: border-box;
    display: inline-block;
    width: 770px;
    border: 1px solid silver;
    margin: 5px;
    padding: 6px;
}

.seq-controls {
    margin-bottom: 0.5em;
    display: inline-block;
    box-sizing: border-box;
}

.seq-controls div {
    display: inline-block;

}

.main-controls {
    position: relative;
    left: 75px;
}

.main-add-channel {
    width: 100px;
    margin-left: 20px;
}

.main-add-channel:before {
    content: "\f0fe";
    left: -10px;
    top: 10px;
}

.tempo-controls {
    left: 70px;
    position: relative;
}

.seq-controls span {
    -webkit-user-select: none;
    cursor: default;
    padding: 0.5em;
    margin-left: 0.5em;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

.seq-controls input {
    width: 25px;
    margin: 0 0.5em;
    text-align: center;
}

.tempo-controls input {
    width: 25px;
    margin: 0 0.5em;
}

#bpm-input {
    width: 30px
}

div.ch-controls {
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    width: 250px;
    background: #FFB0B0;
    overflow: hidden;
}

div.ch-controls.assigned {
    background-color: #B6FFB0;
}

div.ch-controls.assigned .ch-btn-swap:before {
    content: "\f0e2";
    left: 52px;
}

div.ch-buttons {
    position: relative;
    top: -1em;
    left: 7em;
}

span.ch-label {
    box-sizing: border-box;
    display: inline;
    position: relative;
    margin-left: 0.5em;
    color: #565656;
    font-size: 1em;
    top: 7px;
    left: 25px;
}

div.ch-measure {
    height: 30px;
    display: inline-block;
}

div.ch-beat {
    float: left;
    height: 30px;
    display: inline-block;
    border-left: 1px solid black;
}

div.ch-note {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    width: 15px;
}

div.ch-note:nth-child(odd) {
    background: #C6C6C6;
}

div.ch-note:nth-child(even) {
    background: #8E8E8E;
}

div.ch-note.playing {
    background: #D8FC68;
}

div.ch-buttons {
    display: block;
    box-sizing: border-box;
}

.ch-btn-preview {
    display: none;
}
div.ch-buttons span:not(.ch-btn-preview) {
    padding: 0.2em;
    display: inline-block;
}

div.ch-controls .ch-indicator {
    top: -4px;
    position: relative;
    left: -2px;
    height: 10px;
    width: 10px;
    background: #FF6B6B;
    float: right;
    border-radius: 5px;
    display: none;
}

div.ch-buttons {
    position: relative;
}

.main-controls,
.loop-controls span {
    position: relative;
}

.main-controls span:before,
.loop-controls span:before,
.tempo-controls span:before ,
.pattern-controls span:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 0;
}

.loop-play:before {
    content: "\f04b";
    left: -1px;
}

.loop-pause {
    left:5px
}
.loop-pause:before {
    content: "\f04c";
    left: 0;
}


.loop-stop {
    left: 14px;
}
.loop-stop:before {
    content: "\f04d";
    left: -1px
}

.main-measures-up:before {
    content: "\f0d8";
    left: -5px;
}

.main-measures-down:before {
    content: "\f0d7";
    left: -10px;
}

.pattern-clear:before {
    content: "\f1b8";
    left: -1px;
}

.pattern-import:before {
    content: "\f019";
    left: -2px;
}

.pattern-export:before {
    content: "\f093";
    left: -5px;
    top: -5px
}


.tempo-bpm-up:before {
    content: "\f0d8";
    left: -5px;
}

.tempo-bpm-down:before {
    content: "\f0d7";
    left: -10px;
}

span[class^=ch-btn-]:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 5px;
}




.ch-btn-preview:before {
    content: "\f025";
    left: -85px;
}

.ch-btn-swap:before {
    content: "\f001";
    left: 50px;
}

.ch-btn-swap.active:before {
    content: "\f001";
    left: 50px;
    color: #415095;
}

.ch-btn-remove:before {
    content: "\f00d";
    left: 80px;
}

.ch-btn-solo:before {
    content: "\f192";
    left: 110px;
}

.ch-btn-mute:before {
    content: "\f026";
    left: 135px;
}

div.ch-controls .ch-indicator.active {
    display: block;
}

.ch-note.armed {
    border: 3px solid #EE5F5F;
}

div.ch-measure .ch-beat:nth-child(4n) {
    border-right: 5px solid white;
}


.pattern-controls {
    position: relative;
    left: 70px;
}

.pattern-controls span {
    position: relative;
}

.pattern-controls .pattern-import {
    left: 20px;
}
.pattern-controls .pattern-export {
    left: 25px;
    top: -1px;
}

.loop-controls {
    position: relative;
    width: 75px;
}

#debug-panel {
    width: 330px;
    height: 215px;
    position: absolute;
    background: rgba(233, 233, 233, 0.87);
    z-index: 100;
    box-sizing: border-box;
    border: 3px solid;
    font-family: sans-serif;
    padding: 1em 0 0 1em;
    font-size: 12px;
}

#debug-panel.minimized {
    height: 30px;
}

#debug-panel .debug-content {
    overflow: hidden;
    height: 100%;
}
