*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
  -moz-box-sizing: border-box; /* Needed for Firefox */
  box-sizing: border-box
}

#seq-channel-container {
  min-width: 100%;
}

#ui-container {
  max-width: 100%
}

.channel-controls {
  height: 30px;
  width: 20%;
  display: inline-block;
  background: #565656;;
}

div[class^='seq-channel'] {
  display: inline-block;
  min-width: 100%;
  
}

.channel-controls .indicator {
  height: 10px;
  width: 10px;
  margin: 9px 5px;
  background: #FF6B6B;
  float: right;
  border-radius: 5px;
}

.channel-controls .indicator.active {
  background: white;
}

/*.channel-controls:nth-child(odd) {
  background: #C0FFF5;
}
.channel-controls:nth-child(even) {
  background: #C0FFCF;
  }*/

  .channel-pattern {
    height: 30px;
    display: inline-block;
/*  background: wheat;
  width: 70%;
  border-bottom: 1px solid;
  float: left;*/
}

.pattern-segment {
  float: left;
  height: 30px;
  display: inline-block;
  border-left: 1px solid black;
}

.pattern-segment:nth-child(odd) {
  background: black;
}
.pattern-segment:nth-child(even) {
  background: #4B4B4B;
}

.segment-item {
  display: inline-block;
  height: 100%;
  width: 15px;

}

.segment-item.armed {
  border: 3px solid #E4E49F;
/*  width: 9px;
height: 22px;*/
}

.segment-item:nth-child(odd) {
  background: #C6C6C6;
}
.segment-item:nth-child(even) {
  background: #8E8E8E;
}

.segment-item.armed:nth-child(odd) {
  border: 3px solid #EE5F5F;
}
.segment-item.armed:nth-child(even) {
  border: 3px solid #EE5F5F;
}

.segment-item.playing {
  /*border: 2px solid red;*/
  background: #D8FC68;
}

.seq-loopsection-input, 
.seq-loopsectionlength-input {
  width: 20px;
}

.seq-bpm-input {
  width: 30px;
}